doctype html
html(lang = "en")
	head
		title = title
	body
		div.container
			form(method = "POST", action = "/createOrganization")
				p Organization Name
					input(type ="text", name = "organization" value = organization.name)
					p #{organizationError}
				p Country
					input(type = "text". name = "country" value = organization.location.country)
					p #{countryError}
				p State
					input(type = "text", name = "state" value = organization.location.state)
					p #{stateError}
				p City
					input(type = "text", name = "city" value = organization.location.city)
					p #{cityError}
				p Company Email:
					input(type = "email", name = "email" value = organization.email)
					p #{emailError}
				p Confirm Company Email:
					input(type = "email", name = "verifyEmail" value = organization.verifyEmail)
					p #{vEmailError}
				p
					input(type = "submit")
		
			
		if(organization)
			p  #{organization.name} #{organization.location} #{organization.email}




